<h1>Login</h1>

<form action="<%= session_url %>" method="POST">
    <label for="user[email]">Email: 
        <input type="text" name="user[email]" value=""/>
    </label>

    <label for="user[password]">Password: 
        <input type="password" name="user[password]" value=""/>
    </label>

    <input type="submit" value="Log in!">

</form>